spring.rabbitmq.username=Username para el broker de mensajería RabbitMQ
spring.rabbitmq.password=Contraseña para el broker de mensajería RabbitMQ
encrypt.key-store.password=Clave del almacenamiento de las llaves para encriptar y desencriptar
spring.cloud.config.server.git.username=Contraseña(Personal Access Token) del usuario anterior para GitHub
spring.cloud.config.server.git.password=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